.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.starting-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 100px
}

.title {
  font-size: 20px;
  font-weight: 300;
  color: #1a1a1a;
  margin: 0;
  position: absolute;
  top: 10dvh;
}

.start-btn {

}

.start-btn:hover {
 
}

.stage-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70dvh;
  overflow: visible;
}

.footer{
  position: absolute;
  margin-top: 80dvh
}